:root {
    --black: #000000;
    --blue: #0000ff;
    --green: #00ff00;
    --aqua: #00ffff;
    --red: #ff0000;
    --purple: #800080;
    --yellow: #ffff00;
    --white: #ffffff;
    --gray: #808080;
    --light-blue: #add8e6;
    --light-green: #90ee90;
    --light-aqua: #85f1ff;
    --light-red: #fd7b7b;
    --light-purple: #bb5abb;
    --light-yellow: #ffffe0;
    --bright-white: #e0e0e0;
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var
 {font-family: 'Inconsolata', monospace !important;}
.chatContent-3KubbW {
    background-color: var(--black) !important;
}
.theme-dark .themed-Hp1KC_ {
    background: var(--blue);
    height: auto;
}
.avatarStack-3Bjmsl {
    display: none;
}
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: var(--black);
}
.theme-dark .container-YkUktl {
    background: var(--red);
}
.container-YkUktl {
    height: auto;
}
.theme-dark .scroller-WSmht3 {
    background: var(--black);
}
.content-1gYQeQ {
     padding: 0px;
     margin-left: 0px; 
     border-radius: 0px;
}
.form-3gdLxP {
    padding-left: 0;
    padding-right: 0;
}
.channelTextArea-1FufC0 {
    margin-bottom: 0;
}
.scrollableContainer-15eg7h {
    background: var(--black);
}
.iconContainer-21RCa3 {
    display: none;
}
.topPill-2vcLsa .item-2GWPIy {
    border-radius: 0;
    margin: 0;
}